.App {
  font-size: 80%;
  font-family: "Playfair Display", serif;
  color: #1c2e24;
  text-align: center;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.666);
  border: 1px solid #1c2e24;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myName {
  font-family: "Caveat", cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: "Playfair Display", serif;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 23px;
  margin: 20px;
  color: #1c2e24;
  text-shadow:
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

form {
  text-align: center;
  padding: 0px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  font-family: "Caveat", cursive;
}

button {
  border: none;
  background: transparent;
  color: rgb(35, 5, 53);
  margin: 10px 10px;
}

ul {
  text-decoration: none;
  font-size: 80%;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: rgb(255, 255, 255);
  text-shadow:
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

a:hover {
  color: black;
}

#city {
  text-align: center;
}

.container {
  max-width: 30%;
  margin: 0 auto;
  padding: 20px 60px;
  border-radius: 10px;
}

.col-12 {
  margin: 0px;
}

.col-2 {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;

  padding: 0;
  border: 0;
}

.currentCity {
  font-size: 40px;
  margin: 0;
}
.currentTemperature {
  font-size: 50px;
  font-family: "Caveat", cursive;
}
#degree {
  font-size: 180%;
}

#city-input {
  background: rgba(255, 255, 255, 0.849);
  border: 1px solid #dbdcde;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 10px 10px;
}

.currentState {
  font-size: 130%;
}

.Weathericon {
  color: rgb(35, 5, 53);
}

.col-6 {
  text-align: center;
  margin: 0px;
}

.buildPage {
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Caveat", cursive;
}

#city {
  margin: Opx;
}

#current {
  background: rgba(155, 162, 152, 0.849);
  padding: 10px 5px;
  margin: 30px;
  border-radius: 10px;
}

.note {
  font-size: medium;
  font-family: "Caveat", cursive;
  color: white;
}

.WeatherForecast-day {
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px 25px;
}

.WeatherForecast {
  padding: 0px 5px;
}

.Weatherinfo {
  margin: 0px;
}

.date {
  font-family: "Caveat", cursive;
  font-size: x-large;
}

.text-capitalize {
  font-size: 15px;
}

.unit {
  font-size: 20px;
}

.WeatherForecast-temperatures {
  font-size: 22px;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
